ul.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li.menuItem {
    float: left;
}

li.menuItem a {
    display: block;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}